<div class="task-box" cdkDrag>
  <div class="flex-row w-100">
    <div cdkDragHandle class="task-draggable-handle">
      <mat-icon aria-hidden="false" aria-label="drag icon">drag_indicator</mat-icon>
    </div>
    <div class="content">
      <div class="task-name">
        <span>{{task.name}}</span>
      </div>
      <div class="content-right">
        <button mat-icon-button color="primary" (click)="deleteTask()">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
