.board-list-wrapper {
  display: flex;
  flex-direction: column;
}

.board-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.board {
  width: fit-content;
  max-width: 50%;
  position: relative;
  margin: 0 0 30px 0;
  padding: 70px;
  border-radius: 8px;
  flex: 1 0 20%;
  gap: 20px;
}

.board span {
  font-size: xx-large;
  overflow-wrap: break-word;
}

.remove-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

@media (max-width: 660px) {
  .board-list {
    width: 100%;
  }
  .board {
    margin: 20px auto;
  }
}
