.task-list-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
}

.add-task-button {
  display: block;
  margin: 0 80px 0 auto;
  width: 200px;
}

.task-list-container mat-card {
  margin: 80px;
  min-width: 400px;
  flex-grow: 1;
}

.task-list-container mat-card-header {
  justify-content: center;
  font-size: large;
}

.task-list {
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  flex-grow: 1;
}

