.task-lists-container-header {
  margin: 20px 80px;
  display: flex;
  flex-wrap: wrap;
}
.header {
  margin: auto auto auto 0;
}

.header h1 {
  margin: 0;
}

.task-lists-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  margin: 40px 80px;
}

.task-lists-container app-tasks-list {
  min-width: 300px;
}

.add-task-button {
  display: block;
  width: 200px;
  margin-left: auto;
}

.task-lists-container mat-card {
  margin: 80px;
  min-width: 400px;
  flex-grow: 1;
}

.task-lists-container mat-card-header {
  justify-content: center;
  font-size: large;
}

.task-list {
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  flex-grow: 1;
}

@media (max-width: 768px) {
  app-tasks-list {
    margin: 0 auto;
  }
}

@media (max-width: 514px) {
  .task-lists-container-header {
    max-width: 80%;
  }
  .task-lists-container-header button, .task-lists-container-header {
    margin: 20px auto;
  }

  .task-lists-container-header div {
    margin: auto;
  }

  .task-lists-container {
    margin: 0 auto;
  }
}

