.toolbar {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.primary {
  color: #673ab7
}

.text-align-center {
  text-align: center;
}

.avatar {
  width: 30px;
  border-radius: 15px;
  margin-right: 10px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

h1 {
  width: fit-content;
  display: block;
  margin: 20px auto 0 auto;
  font-size: xx-large;
}

.add-button-large {
  display: block;
  width: 200px;
  margin-left: auto;
}

.app-content {
  padding: 40px 80px
}

.app-content-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.header {
  margin: auto auto auto 0;
}

.header h1 {
  margin: 0;
}

@media (max-width: 533px) {
  .app-content {
    padding: 40px 20px;
    margin: auto;
  }

  .app-content-header div {
    margin: 20px auto;
    width: 100%;
  }

  .app-content-header button, .header h1 {
    margin: 10px auto;
  }

  .app-content-header div {
    margin: auto;
  }
}

@media (max-width: 408px) {
  .app-content {
    padding: 40px 0;
  }
}
