.tasks-list {
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  flex-grow: 1;
}

mat-card {
  margin-bottom: 20px;
  min-height: 202px;
  min-width: 276px;
}

mat-card-title-group {
  margin: 0 10px 0 -17px;
  display: flex;
  justify-content: space-between;
  width: 100%
}

mat-card-header span {
  margin: auto auto auto 0;
  font-weight: 500;
}

.mat-card-header-text {
  margin: 0 7px;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

mat-form-field {
  flex-grow: 1;
  padding-right: 10px;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
